.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-container {
  background-color: #fff;
  width: 90%;
  max-height: 90%;
  overflow: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
}

.close-button {
  position: absolute;
  background-color: transparent;
  top: 10px;
  right: 10px;
  font-size: 1em;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}
.close-button:hover {
  box-shadow: #f35d6c91 0px 7px 29px 0px;
}
.results {
  color: #000;
  margin-bottom: 10px;
}
.modal-container video {
  width: 100%;
  height: auto;
}

.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-feedback {
  width: 100%;
  height: auto;
}

.download-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s;
  border: 2px solid #f35d6b;
  border-radius: 5px;
  padding: 1px 5px;
  color: #f35d6b;
}

.download-icon:hover {
  background-color: #f35d6c6c;
  border-radius: 50%;
}

h3 {
  font-weight: 300;
  margin-bottom: 2em;
  margin-top: 1em;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 300px;
  color: #000;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-top: 4px solid #f35d6b;
  border-right: 2px solid transparent;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
h2 {
  margin-bottom: 8px;
}

.modal-container {
  text-align: center;
}

@media (min-width: 800px) {
  .feedback-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .feedback-container__no-image {
    justify-content: center;
  }

  .modal-container .feedback-container video {
    max-width: 650px;
    max-height: 800px;
  }

  .modal-container .feedback-container__no-image video {
    max-width: 640px;
  }
}