.uploadBtn {
  margin: auto;
}

.uploadBtn_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

input[type="file"] {
  /* position: relative; */
  display: inline-block;
  margin: 20px 0 30px 0;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 0;
  color: #fff;
  background-color: #654141;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  width: 500px;
}

input[type="file"]:hover {
  background-color: #000000;
}

input[type="file"]:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
}

.video_container {
  border: 1px solid white;
  padding: 6px 3px 0 3px;
  margin-top: 40px;
  box-shadow: #f35d6cae 0px 1px 0px, #f35d6cae 0px 8px 24px,
    #f35d6c6a 0px 16px 58px;
}
video {
  max-width: 100%;
  height: auto;
}

/* MOBILE */

@media (min-width: 380px) and (max-width: 780px) {
  input[type="file"] {
    width: 300px;
  }
}

/* TABLET */

@media (min-width: 780px) and (max-width: 1120px) {
  input[type="file"] {
    width: 380px;
  }
}
