.container {
  margin: 40px auto 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active {
  border: 1px solid rgb(115, 243, 36);
  color: rgb(214, 227, 75);
  box-shadow: #86d744 0px 7px 29px 0px;
}

.container button {
  margin: 15px 20px;
}

.recomdetion-container {
  width: 700px;
  border: 1px solid rgb(214, 227, 75);
  padding: 15px;
  border-radius: 15px;
  margin: 15px 0;
}
.recomendation-title {
  text-align: center;
  margin: 15px 0;
}
.recomendation-p {
  margin-bottom: 19px;
}
