.container {
  margin: 40px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inactive {
  font-size: 1.2em;
  padding: 0.5em 1em;
  font-weight: bold;
}

.active {
  border: 1px solid #66cccc;
  color: #66cccc;
  box-shadow: #66cccc 0px 7px 29px 0px;
  font-size: 1.2em;
  padding: 0.5em 1em;
  font-weight: bold;
}

.container button {
  margin: 15px 20px;
}

.recom-container {
  height: 335px;
  border: 1px solid #66cccc;
  padding: 20px;
  border-radius: 15px;
  margin: 25px 0;
}

p {
  font-size: 1.2em;
}

.recom-title {
  text-align: center;
  margin: 15px 0;
}

.recom-center {
  padding-top: 5px;
  text-align: center;
}

.recom-p {
  margin-bottom: 19px;
}

ol {
  margin: 15px 0 15px 25px;
  font-size: 1.1em;
}

/* .highlight-p {
  background-color: #f35d6b;
} */

.recom-container p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 10px;
}

.recom-container .highlight-p {
  /* background-color: #f35d6b;
  color: #fff; */
  font-weight: bold;
  padding: 3px 5px;
}

.recom-container ol {
  margin: 15px 0 15px 25px;
  font-size: 1.1em;
  line-height: 1.5;
}

.recom-container li {
  margin-bottom: 10px;
}

.recom-container .recom-center {
  text-align: center;
  padding-top: 20px;
}

.title-h2 {
  margin-bottom: 20px;
  font-size: 1.9em;
  text-align: center;
}

/* TABLET */

@media (min-width: 800px) and (max-width: 1240px) {
  .recom-container {
    height: 470px;
  }
}

/* MOBILE */

@media (min-width: 410px) and (max-width: 799px) {
  .recom-container {
    height: 815px;
  }
}

/* XS MOBILE */

@media (min-width: 270px) and (max-width: 409px) {
  .recom-container {
    height: 1060px;
  }
}
