.quote {
  font-size: 38px;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  margin-bottom: 60px;
}

/* TABLET */

@media (min-width: 800px) and (max-width: 1240px) {
  .quote {
    font-size: 31px;
  }
}

/* MOBILE */

@media (min-width: 410px) and (max-width: 799px) {
  .quote {
    font-size: 22px;
  }
}

/* XS MOBILE */

@media (min-width: 270px) and (max-width: 409px) {
  .quote {
    font-size: 18px;
  }
}
