* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.body {
  height: 100vh;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.top_bar {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 25px 0;
}
button {
  font-size: 14px;
  background: none;
  margin-top: 5px;
  border: 2px solid #f35d6b;
  border-radius: 5px;
  padding: 5px 12px;
  color: #f35d6b;
}

button:hover {
  cursor: pointer;
}
.btn-glow:hover {
  border-color: #f35d6b;
  box-shadow: #f35d6c91 0px 7px 29px 0px;
}

/* TABLET */

@media (min-width: 800px) and (max-width: 1240px) {
  .wrapper {
    width: 760px;
  }
  button {
    font-size: 12px;
  }
}

/* MOBILE */

@media (min-width: 410px) and (max-width: 799px) {
  .wrapper {
    width: 370px;
  }
  button {
    font-size: 11px;
  }
}

/* XS MOBILE */

@media (min-width: 270px) and (max-width: 409px) {
  .wrapper {
    width: 270px;
  }

  .head {
    height: 200px;
  }
  .head-img {
    display: none;
  }

  .title {
    font-size: 76px;
    line-height: 86px;
  }
}
