.head {
  height: 500px;
  position: relative;
}
.head-img {
  position: absolute;
  width: 260px;
  top: 110px;
  left: 780px;
}

.title {
  font-size: 200px;
  font-weight: 700;
  text-align: center;
  line-height: 200px;
}

.highlight {
  color: #f35d6b;
}

/* TABLET */

@media (min-width: 800px) and (max-width: 1240px) {
  .head {
    height: 325px;
  }
  .head-img {
    width: 173px;
    top: 50px;

    left: 495px;
  }

  .title {
    font-size: 120px;
    line-height: 128px;
  }
}

/* MOBILE */

@media (min-width: 410px) and (max-width: 799px) {
  .head {
    height: 200px;
  }
  .head-img {
    width: 100px;
    top: 43px;
    left: 259px;
  }

  .title {
    font-size: 76px;
    line-height: 86px;
  }
}

/* XS MOBILE */

@media (min-width: 270px) and (max-width: 409px) {
  .head {
    height: 200px;
  }
  .head-img {
    display: none;
  }

  .title {
    font-size: 76px;
    line-height: 86px;
  }
}
