.head {
  height: 660px;
}

.head-img {
  position: absolute;
  top: 80px;
  right: 200px;
  width: 460px;
}
.title {
  font-size: 200px;
  font-weight: 700;
  text-align: center;
  line-height: 200px;
  position: relative;
}

.title:last-child {
  color: #f35d6b;
}
